.imageGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .imageGalleryItem:hover {
    transform: scale(1.025);
  }